.rectangle {
    fill:rgb(161, 148, 148);
}

.cursor {
    cursor: all-scroll;
    fill-opacity: 1;
}

.svgcontainer {
    border: 1px solid #aaa;
    vertical-align: top;
}

.spacer{
    flex: 1 1 auto;
}