
<svg
  width="600"
  height="600"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp()">
  <g>
  <rect class="rectangle" [attr.x]="x" [attr.y]="y" [attr.width]="width" [attr.height]="height" />
  <rect (mousedown)="onMouseDown($event,'topLeft')" class="cursor" [attr.x]="x" [attr.y]="y" width="5px" height="5px" />
  <rect (mousedown)="onMouseDown($event,'topRight')" class="cursor" [attr.x]="x+width" [attr.y]="y" width="5px" height="5px" />
  <rect (mousedown)="onMouseDown($event,'bottomLeft')" class="cursor" [attr.x]="x" [attr.y]="y+height" width="5px" height="5px" />
  <rect (mousedown)="onMouseDown($event,'bottomRight')" class="cursor" [attr.x]="x+width" [attr.y]="y+height" width="5px" height="5px" />
</g>
</svg>